body {
  margin: 20%;
  background-color: #58b5d1;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}
.address {
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  color: blue;
}
.tagline {
  font-family: cursive;
  color: white;
  text-align:center;
  padding-bottom: 20px;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  font-style: oblique;
}

img.photo {
  align-content: center;
  border: white;
  border-style: double;
  border: 2px;
}